Java/OkHttpTest/src/main/xsd/Employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://myexample.com/employee" targetNamespace="http://myexample.com/employee">
	<xs:complexType name="employee">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="age" type="xs:int"/>
			<xs:element name="organization" type="xs:string"/>
			<xs:element name="salary" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
