Java/OkHttpTest/src/main/xsd/Security.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" elementFormDefault="qualified">

	<xs:element name="Security">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UsernameToken">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Username" type="xs:string"/>
							<xs:element name="Password" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
 